<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>eBanking</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="assets/css/app.css" />
  </head>
  <body ng-app="eBankApp">
    <div id="content">
      <div class="container-fluid py-2">
        <div class="row d-flex align-items-center p-2">
          <div class="col-3 p-0">
            <img src="assets/images/piggy-bank.png" alt="" class="img-fluid" />
          </div>
          <div class="col-9 p-0 pl-2 align-self-end">
            <h3 class="m-0">BANKAPP</h3>
          </div>
        </div>
      </div>

      <div class="container-fluid py-5" ng-init="$root.currentUser = null">
        <div ng-view></div>

        <!--<div ng-if="$root.currentUser==null" ng-include="'views/login.html'"></div>
        <div ng-if="$root.currentUser!=null" ng-include="'views/criar-conta.html'"></div>
        <div ng-if="$root.currentUser!=null" ng-include="'views/dados-gerais-conta.html'"></div>
        <div ng-if="$root.currentUser!=null" ng-include="'views/home-page.html'"></div>
        <div ng-if="$root.currentUser!=null" ng-include="'views/movimentos.html'"></div>
        <div ng-if="$root.currentUser!=null" ng-include="'views/transferencias.html'"></div>-->
      </div>
    </div>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <script src="app.js"></script>
    <script src="Controllers/LoginController.js"></script>
    <script src="services/AuthenticationService.js"></script>
    <script src="services/BankAccountService.js"></script>
  </body>
</html>
