<div class="row">
  <div class="col-12">
    <form action="home-page.html" method="post">
      <div class="form-group">
        <label class="font-weight-bold" for="balance">
          Saldo de abertura de conta
        </label>
        <input
          type="text"
          class="form-control"
          id="balance"
          placeholder="Mínimo 1, ex: 10,99"
          name="saldoInicial[]"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Criar conta</button>
    </form>
  </div>
</div>
