


    <div class="row">
        <div class="col-12 py-2">
            <a href="dados-gerais-conta.html" class="btn btn-primary btn-lg active w-100" role="button" aria-pressed="true">Situação
                Global</a>
        </div>
        <div class="col-12 py-2">
            <a href="movimentos.html" class="btn btn-primary btn-lg active w-100" role="button" aria-pressed="true">Movimentos</a>
        </div>
        <div class="col-12 py-2">
            <a href="transferencias.html" class="btn btn-primary btn-lg active w-100" role="button" aria-pressed="true">Transferências</a>
        </div>
        <div class="col-12 py-2">
            <a href="pagamentos.html" class="btn btn-primary btn-lg active w-100" role="button" aria-pressed="true">Pagamentos
            </a>
        </div>
        <div class="col-12 py-2">
            <a href="#" class="btn btn-primary btn-lg active w-100" role="button" aria-pressed="true">Sair</a>
        </div>
    </div>



